html {
  font-family: 'Helvetica', 'STHeiti', 'Microsoft YaHei', Arial, sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  /*position: fixed;
    z-index: 1;*/
}

.container {
  width: 100%;
  position: relative;
}

.row {
  margin-left: -17px;
  margin-right: -17px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 1px;
  padding-left: 1px;
}

a {
  color: #546e7a;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.clearfix {
  zoom: 1;
}

textarea:focus{
  outline: none;
}

/*hearder*/

header {
  position: absolute;
  top: 14px;
  height: 32px;
}

header h1.logo {
  height: 27px;
  width: 230px;
  text-indent: -9999px;
  background: url(../images/BeejeenVR.png);
  top: 0px;
  left: 30px;
  position: absolute;
}

header .logo-text {
  height: 26px;
  color: #fcfcfb;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  line-height: 26px;
  top: 0;
  font-size: 14px;
  left: 270px;
  position: absolute;
}

header .fenzhi {
  position: absolute;
  right: 34px;
  color: #fff;
  height: 20px;
  line-height: 20px;
}

.fenzhi span {
  display: inline-block;
}

.fenzhi-center {
  /*display: inline-block;*/
  width: 245px;
  height: 20px;
  font-size: 14px;
  border-right: 1px solid #fff;
  margin-left: 5px;
}

.fenzhi-center span {
  margin: 0 10px;
}

.language {
  /*display: inline-block;*/
  width: 30px;
  height: 20px;
  /*line-height: 20px;*/
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.fenzhi>i {
  vertical-align: middle;
  cursor: pointer;
}

.xiala {
  cursor: pointer;
  font-size: 14px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  vertical-align: middle;
}

.search-top {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  line-height: 20px;
  /*border-right: 1px solid #fff;*/
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.search-top i {
  float: right;
}

.search-top:hover {
  color: #10b041;
  width: 160px;
  background: #fff;
}

#hidden-search {
  position: absolute;
  width: 135px;
  /*height: 30px;*/
  border: none;
  background: transparent;
  top: 0px;
  right: 20px;
}

.addC {
  color: #10b041;
  width: 160px;
  background: #fff;
}

header .input-text {
  position: absolute;
  top: 0;
  right: 238px;
  height: 26px;
  width: 300px;
  font-size: 12px;
  border-radius: 16px;
  border: 1px solid #ccc;
  outline: none;
  text-indent: 25px;
}

header .input-text:hover {
  border: 1px solid #FF5500;
}

header .input-search {
  width: 60px;
  height: 26px;
  position: absolute;
  top: 0;
  right: 172px;
  border: none;
  background: #FF2925;
  cursor: pointer;
  border-radius: 13px;
  font-size: 12px;
  color: #fff;
}


/*header .language{
	height: 26px;
    font-size: 18px;
    position: absolute;
    right: 34px;
    background: #303131;
    margin-left: 20px;
    width: 72px;
    text-align: center;
    line-height: 26px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}*/


/*-----------------iframe---------------------*/

input:focus {
  outline: none;
}


/*.iframe-wrap{
	position: relative;
}*/

.center-show {
  width: 1000px;
  height: 239px;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.center-word h1 {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.50);
  height: 62px;
  font-family: PingFangSC-Medium;
  font-size: 44px;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.center-word h3 {
  height: 25px;
  margin-bottom: 34px;
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-shadow: 2px -1px 2px rgba(0, 0, 0, 0.50);
}

.center-search {
  /*margin-top: 30px;*/
  /*width: 572px;*/
  /*height: 100px;*/
}

.center-search-top {
  background: rgba(0, 0, 0, 0.70);
  border-radius: 8px 8px 0 0;
  height: 56px;
  line-height: 56px;
}

.ck-mudi, .ck-xing {
  cursor: pointer;
}

.ck-icon-color {
  color: #ff2925!important;
}

.mubiaodi {
  /*width: 15px;
	height: 20px;*/
  margin-left: 25px;
}

.icon-mudedichanpin {
  font-size: 20px;
  color: #ccc;
}

.icon-hangcheng {
  font-size: 20px;
  color: #ccc;
}

.center-search-top div, .center-search-top span {
  display: inline-block;
}

.center-search-top span {
  font-size: 18px;
  color: #fff;
  margin-left: 8px;
}

.center-search-body {
  height: 60px;
  line-height: 60px;
  background: #fff;
  border-radius: 0 0 8px 8px;
  padding-left: 19px;
}

.center-search-body input {
  height: 40px;
  border: none;
  width: 878px;
  font-size: 18px;
}

.center-search-body span {
  display: inline-block;
  background: #ff2925;
  border-radius: 0 0 8px 0;
  width: 80px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  float: right;
  font-size: 18px;
  cursor: pointer;
}

.hidden-mes {
  display: none;
  width: 1000px;
  /*min-height: 116px;*/
  border-radius: 8px;
  background: #fff;
  position: absolute;
  top: 246px;
  overflow: hidden;
  padding: 10px 10px;
}

.hidden-mes-top {
  background: rgb(244, 244, 244);
  height: 30px;
  line-height: 30px;
  margin: 10px 5px;
}

.hidden-mes-top span {
  float: left;
  margin-left: 5px;
}

.hidden-mes-top i {
  float: right;
  margin-right: 5px;
  font-style: normal;
  cursor: pointer;
}

.hidden-mes-text {
  margin: 10px 5px;
  /*height: 60px;*/
  padding-left: 10px;
}

.hidden-mes-text span {
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.hidden-mes-text span:hover {
  color: red;
}

.hidden-mesbody {
  width: 100%;
  display: none;
  padding-left: 10px;
  overflow: hidden;
}

.hid-new {
  width: 100%;
  height: 20px;
  margin-bottom: 5px;
}

.hid-new a {
  float: left;
}

.hid-new span{
  font-size: 16px;
}

.hid-new>span {
  margin-right: 40px;
  float: right;
  color: #546e7a;
}

.hid-new a span {
  font-weight: bold;
}

.hid-new a span:hover {
  color: red;
  cursor: pointer;
}

.iframe-top {
  /*position: fixed;*/
  /*top: 0;*/
  height: 600px;
  cursor: pointer;
  /*z-index: -999;*/
}

.iframe-wdiv {
  position: relative;
  z-index: -200;
}

.iframe-face {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: -100;
}

.mubiaodi {
  display: inline-block;
  width: 15px;
  height: 20px;
}

.hot-mudi {
  position: relative;
  width: 90%;
  margin: 0 auto;
  /*height: 500px;*/
  height: 0;
  padding-bottom: 46%;
  /*padding-bottom: 50px;*/
}

.hot-ceng {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hot-mudi-title {
  font-size: 34px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.hot-mudi .swiper-slide {
  width: 19%;
  height: 0;
  padding-bottom: 32%;
  /*background: yellow;*/
  position: relative;
}

.slide-fix {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: green;*/
}

.hoimg {
  width: 100%;
  height: 0;
  padding-bottom: 150%;
  /*background: purple;*/
  margin-bottom: 5px;
  background-position: center center;
  background-size: cover;
}

.hotitle {
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #333333;
}

.howord {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #bababa;
}

.theme-enjoy {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  height: 0;
  padding-bottom: 50%;
  /*height: 600px;*/
  overflow: hidden;
}

.theme-enjoy-top {
  height: 48px;
  line-height: 48px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.theme-enjoy-title {
  float: left;
  font-size: 34px;
  display: inline-block;
  vertical-align: middle;
}

.theme-enjoy-top-right {
  float: right;
  display: inline-block;
  vertical-align: middle;
}

.theme-enjoy-top-right i {
  cursor: pointer;
  font-style: normal;
  font-size: 16px;
  color: #999;
  margin-right: 18px;
  display: inline-block;
  width: 90px;
  height: 32px;
  border-radius: 100px;
  /*background: #ff2925;*/
  text-align: center;
  line-height: 32px;
}

.theme-enjoy-top-right .iclick {
  background: #ff2925;
  color: #fff;
}

.theme-enjoy-down {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 42%;
  overflow: hidden;
}

.theme-detail-left {
  width: 32%;
  height: 100%;
  position: absolute;
}

.theme-detail {
  width: 100%;
  height: 50%;
  padding-bottom: 5%;
}

.theme-img {
  width: 100%;
  height: 80%;
  /*background: yellow;*/
}

.theme-word-title {
  font-size: 20px;
  font-weight: bold;
}

.theme-word-text {
  font-size: 14px;
  color: #bababa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.theme-detail-middle {
  width: 32%;
  height: 100%;
  position: absolute;
  left: 34%;
}

.theme-detail-right {
  width: 32%;
  height: 100%;
  position: absolute;
  left: 68%;
}

.chufa-wrap {
  background: #f2ddd3;
}

.chufa {
  width: 90%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 10%;
  overflow: hidden;
}

.chufa-top {
  font-size: 34px;
  margin-bottom: 2%;
  padding-left: 20px;
}

.chufa-down {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.chufa-detail {
  /*display: inline-flex;*/
  width: 32%;
  height: 100%;
  flex-grow: 1;
  background: transparent;
  margin: 1%;
}

.chufa-word-title {
  font-family: .PingFangSC-Medium;
  font-size: 26px;
  color: #333333;
}

.chufa-word-text {
  /*font-family:PingFangSC-Medium;*/
  font-size: 20px;
  color: #999999;
  line-height: 26px;
}

.chufa-img {
  width: 100%;
  height: 0;
  padding-bottom: 61%;
}

.chufa-img-bac1 {
  background: url('../images/chufa1.png') no-repeat;
  background-size: cover;
}

.chufa-img-bac2 {
  background: url('../images/chufa2.png') no-repeat;
  background-size: cover;
}

.chufa-img-bac3 {
  background: url('../images/chufa3.png') no-repeat;
  background-size: cover;
}

.over-push {
  position: relative;
  overflow: hidden;
}

.over-push img {
  width: 100%;
}

.over-push>div {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  min-width: 100px;
  text-align: center;
  color: #fff;
}

.push-head {
  top: 50px;
  width: 184px;
  height: 184px;
  border-radius: 92px;
  border: 2px solid #fff;
  background: url('../images/push-head.png') center center no-repeat;
  background-size: contain;
}

.push-title {
  top: 250px;
  font-size: 20px;
  color: #fff;
}

.push-text {
  top: 280px;
  font-size: 20px;
  color: #fff;
}

.push-name {
  top: 320px;
  font-size: 20px;
}

.push-sename {
  top: 360px;
  font-size: 18px;
}

.push-read {
  top: 420px;
  font-size: 16px;
}

.baijian-trip {
  width: 90%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 10%;
  overflow: hidden;
}

.trip-title {
  font-size: 34px;
  margin-bottom: 2%;
  padding-left: 20px;
}

.trip-text {
  padding-left: 20px;
  font-family: PingFangSC-Light;
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  margin-bottom: 2%;
}

.baijian-trip-down {
  font-size: 0;
}

.baijian-trip-detail {
  width: 25%;
  height: 0;
  padding-bottom: 37.5%;
  display: inline-block;
}

.baijian-trip-detail:nth-child(1) {
  background: url('../images/trip4.png') center center no-repeat;
  background-size: cover;
}

.baijian-trip-detail:nth-child(2) {
  background: url('../images/trip2.png') center center no-repeat;
  background-size: cover;
}

.baijian-trip-detail:nth-child(3) {
  background: url('../images/trip3.png') center center no-repeat;
  background-size: cover;
}

.baijian-trip-detail:nth-child(4) {
  background: url('../images/trip1.png') center center no-repeat;
  background-size: cover;
}

.baijian-trip-detail span {
  display: block;
  font-size: 22px;
  width: 100%;
  text-align: center;
  margin-top: 123%;
  color: #fff;
}

.baijian-dingzhi-wrap {
  width: 100%;
  height: 0;
  padding-bottom: 41%;
  background: url('../images/dingzhi-bac.png') center center no-repeat;
  background-size: cover;
}

.baijian-dingzhi {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.dingzhi-suc{
  display: none;
  color: #fff;
  font-size: 30px;
  position: absolute;
  width: 500px;
  height: 50px;
  top: 200px;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.dingzhi-suc-down span{
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  width: 60px;
  text-align: center;
  line-height: 34px;
  background: red;
  border-radius: 4px;
}
.dingzhi-info {
  position: absolute;
  right: 0;
  margin: 0 auto;
  width: 480px;
  padding-top: 3%;
  /*height: 500px;*/
  /*background: yellow;*/

}

.dingzhi-info input,.dingzhi-info textarea{
  color: #000;
}

.dingzhi-info-h1 {
  font-size: 40px;
  color: #fff;
  height: 56px;
  line-height: 56px;
  text-align: right;
}

.dingzhi-info-h3 {
  font-size: 16px;
  color: #fff;
  height: 22px;
  line-height: 22px;
  text-align: right;
  font-weight: normal;
  margin-bottom: 44px;
}

.dingzhi-info-first, .dingzhi-info-second {
  height: 48px;
  line-height: 48px;
  /*background: purple;*/
  border-radius: 3px;
  background: #fff;
  margin-bottom: 21px;
}

.dingzhi-info-third {
  height: 100px;
  border-radius: 3px;
  background: #fff;
}

.dingzhi-info-first span, .dingzhi-info-second span, .dingzhi-info-third span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #666;
  padding-left: 15px;
}

.dingzhi-info-first input {
  width: 90px;
  border: none;
}

.dingzhi-info-first span:nth-child(1) {
  border-right: 1px solid #e9e9e9;
  width: 160px;
}

.dingzhi-info-first span:nth-child(3) {
  border-left: 1px solid #e9e9e9;
  width: 160px;
}

.dingzhi-info-first span:nth-child(2) {
  width: 158px;
}

.dingzhi-info-second input {
  width: 200px;
  border: none;
}

.dingzhi-info-third span {
  line-height: 47px;
}

.dingzhi-info-third textarea {
  border: none;
  width: 393px;
  height: 93px;
  padding-top: 12px;
  vertical-align: top;
}

#dingzhi-info-submit {
  width: 140px;
  height: 48px;
  background: #ff2925;
  border-radius: 3px;
  text-align: center;
  line-height: 48px;
  font-size: 20px;
  color: #fff;
  margin-top: 24px;
  float: right;
  cursor: pointer;
}


/*-----------------服务内容---------------------*/

#service-content {
  height: 280px;
  background: #f5f5f5;
  width: 100%;
  padding-top: 80px;
}

#service-content>.service-content-img {
  background: url(../images/service-content.png) no-repeat;
  width: 926px;
  height: 119px;
  margin: auto;
}


/*-----------------底部栏---------------------*/

.footer-wrap {
  background: #06060c;
}

footer {
  width: 90%;
  margin: 0 auto;
  height: 285px;
  background: #06060c;
  padding: 0 70px;
  /*padding-left: 9%;*/
}

footer>.left {
  width: 650px;
  float: left;
  padding-top: 40px;
}

footer>.left>.logo {
  background: url(../images/footer-logo.png);
  width: 183px;
  height: 27px;
}

footer>.left>p {
  line-height: 18px;
  font-size: 12px;
  color: #6d6c7e;
  padding-top: 30px;
}

footer>.right {
  float: right;
  padding-top: 44px;
  padding-left: 145px;
}

footer>.right>h2 {
  font-size: 16px;
  color: #6d6c7e;
}

footer>.right>p {
  font-size: 12px;
  color: #6d6c7e;
  line-height: 18px;
  padding-top: 30px;
  padding-bottom: 20px;
}

footer>.right div {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 18px;
  background: url(../images/footer-icon.png) no-repeat;
  cursor: pointer;
}

footer>.right .blog {
  background-position: 0px 0px;
}

footer>.right .blog:hover {
  background-position: -50px 0px;
}

footer>.right .weixin {
  background-position: 0px -50px;
  position: relative;
}

footer>.right .weixin:hover {
  background-position: -50px -50px;
}

footer>.right .e-mail {
  background-position: 0px -100px;
}

footer>.right .e-mail:hover {
  background-position: -50px -100px;
}

footer>.right .linkin {
  background-position: 0px -150px;
}

footer>.right .linkin:hover {
  background-position: -50px -150px;
}

footer>.right .facebook {
  background-position: 0px -200px;
}

footer>.right .facebook:hover {
  background-position: -50px -200px;
}

footer>.right>.weixin>.weixin-code {
  position: absolute;
  background: url(../images/weixin-code.jpg) no-repeat;
  width: 200px;
  height: 200px;
  top: -220px;
  left: -80px;
  transition: all .5s;
  transform: scale(0);
  z-index: 9999;
}

footer>.right>.weixin:hover .weixin-code {
  transform: scale(1);
}


/*navigation*/

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: none;
  padding: 30px 0px 40px;
  padding-left: calc(50% - 500px);
  padding-right: calc(50% - 500px);
  background: #fff;
  z-index: 1010;
}

#navigation>input {
  background: #f4f4f4;
  border: 1px solid #dbdbdb;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 600px;
  height: 46px;
  border-radius: 23px;
  outline: none;
  text-indent: 2em;
  font-size: 12px;
}

#navigation>.nav-bar {
  border-bottom: 1px solid #e5e5e5;
}

#navigation>ul.nav-bar>li {
  font-size: 18px;
  color: #333;
  display: inline-block;
  width: 80px;
  height: 46px;
  line-height: 46px;
  margin-right: 60px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#navigation>ul.nav-bar>li.current {
  border-bottom: 1px solid #ff2925;
}

#navigation>ul.nav-item {
  margin-top: 20px;
}

#navigation>ul.nav-item>li {
  display: none;
  cursor: pointer;
}

#navigation>ul.nav-item>li.current {
  display: block;
}

#navigation>ul.nav-item>li span {
  font-size: 14px;
  color: #666;
  display: inline-block;
  width: 196px;
  height: 70px;
  line-height: 70px;
  /*margin-right: 116px;*/
  /*text-align: center;*/
}

#navigation>ul.nav-item>li span:hover{
  color: red;
}

#navigation>.nav-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}


/*-----------------国家介绍---------------------*/

.country-description {
  height: 220px;
  width: 100%;
  padding: 0px 72px;
  position: relative;
  background: #fff;
}

.country-description>p {
  height: 220px;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  line-height: 30px;
  color: #4d4d4d;
  width: 600px;
}

.country-description .open-iframe {
  font-size: 12px;
  color: #FF5500;
  border: 0px;
}

.country-description>.display-title {
  width: 660px;
  height: 220px;
  line-height: 220px;
  font-size: 40px;
  text-align: center;
  /*font-family: "microsoft yahei";*/
  position: absolute;
  top: 0;
  right: 0;
}


/*main*/

.main {
  background: #fff;
}

.main-row {
  width: 100%;
}

.main-cell {
  float: left;
  width: 100%;
  height: 100%;
  background: #fff;
  margin-bottom: 2px;
  position: relative;
  overflow: hidden;
}

.main-cell-imgBox {
  width: 100%;
  overflow: hidden;
}

.main-cell-img {
  display: inline-block;
  width: 100%;
  border: none;
}

.main-cell:hover .main-cell-textBox {
  background-color: rgba(255, 85, 0, 0.9);
}

.main-cell:hover .main-cell-title {
  color: #212121;
}

.main-cell-textBox {
  padding-top: 55%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .8s ease;
  overflow: hidden;
}

.main-cell-textBox:hover {
  padding-top: 10%;
}

.main-cell-title {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  width: 100%;
  text-align: center;
}

.main-cell-text {
  color: #39321e;
  line-height: 19px;
  padding: 8%;
  font-size: 14px;
}


/*-----------------推荐行程---------------------*/

.itinerary {
  width: 100%;
  height: 0;
  padding-bottom: 49%;
  background: url(../images/10.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.iti-center {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: yellow;*/
}

.swiper-container2 {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*background: red;*/
}

.left-img {
  width: 60%;
  height: 100%;
  /*background: green;*/
  float: left;
  background-size: cover;
}

.right-text {
  width: 40%;
  height: 100%;
  background: #fff;
  float: right;
}

.right-text h3 {
  font-size: 24px;
  text-align: center;
  padding-top: 40px;
  color: #333;
}

.tr-place {
  font-size: 14px;
  color: #9e9e9e;
  padding-top: 10px;
  text-align: center;
}

.tr-content {
  font-size: 12px;
  line-height: 20px;
  margin: 40px 38px;
  text-align: left;
  color: #808080;
  height: 140px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.tr-cost {
  padding-top: 10px;
  color: #797979;
  text-align: center;
}

.tr-cost span {
  color: #ff2925;
}

.tr-detail {
  display: block;
  background: #ff2925;
  height: 40px;
  width: 140px;
  color: #fff;
  line-height: 40px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.loading {
  display: none;
  width: 150px;
  height: 15px;
  margin: 0 auto;
  /*margin-top: 20px;*/
}

.loading span {
  display: inline-block;
  width: 15px;
  height: 100%;
  margin-right: 5px;
  border-radius: 50%;
  background: lightgreen;
  -webkit-animation: load 1.04s ease infinite;
}

.loading span:last-child {
  margin-right: 0px;
}

@-webkit-keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading span:nth-child(1) {
  -webkit-animation-delay: 0.13s;
}

.loading span:nth-child(2) {
  -webkit-animation-delay: 0.26s;
}

.loading span:nth-child(3) {
  -webkit-animation-delay: 0.39s;
}

.loading span:nth-child(4) {
  -webkit-animation-delay: 0.52s;
}

.loading span:nth-child(5) {
  -webkit-animation-delay: 0.65s;
}
