html{
	/*font-family: "microsoft yahei";*/
}
header{
	height: 50px;
	background: #373d41;
	padding: 0 30px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	box-sizing: border-box;
}
header>img{
	margin-top: 11px;
}
header>h2{
	line-height: 50px;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}
#headimg{
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: #ccc;
	margin-top: 10px;
	margin-right: 10px;
}
/*侧边栏*/
aside{
	position: fixed;
	width: 240px;
	background-color: #929ca2;
	z-index: 9;
	top: 50px;
	left: 0;
	bottom: 0;
}
aside>h2{
	height: 70px;
	line-height: 70px;
	font-size: 18px;
	text-align: center;
	color: #FFF;
	cursor: pointer;
}
aside>h2.active{
	background-color: #fff;
	color: #3a3a3a;
}
/*主内容区*/
main{
	margin-left: 240px;
	margin-top: 50px;
	margin-bottom: 200px;
}
main>h2{
	font-size: 18px;
	color: #3a3a3a;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #dcdcdc;
	margin: 0 20px;
}
main>h2>span{
	padding-left: 10px;
	border-left: 2px solid #4085de;
}
main>.select-country{
	padding: 0 70px;
}
main>.select-country>div{
	border-bottom: 1px dashed #DCDCDC;
}
main>.select-country>div>h3{
	padding: 34px 0;
	font-size: 14px;
	display: inline-block;
	margin-right: 10px;
}
main>.select-country>div>h3>span{
	color: #FF5C00;
	padding-left: 6px;
	vertical-align: middle;
}
main>.select-country>div>select{
	width: 170px;
	height: 30px;
	background-color: #f5f4f5;
	border-radius: 4px;
}
main>.select-country>div.text{
	padding-top: 20px;
	border-bottom: none;
}
.nameserial{
	height: 30px;
	width: 170px;
	border-radius: 4px;
	border: 1px solid #ccc;
	outline: none;
	text-indent: 4px;
}
main>.select-country>div.text>textarea{
	height: 160px;
	width: 800px;
	border-radius: 4px;
	border: 1px solid #ccc;
	outline: none;
	text-indent: 4px;
}
main>.select-country>div.text>.text-title{
	display: block;
	float: left;
	padding: 0;
	margin-right: 15px;
}
main>.select-country>div.text>label{
	margin-right: 50px;
	font-size: 14px;
}
main>.select-country>div.text>label>input{
	vertical-align: middle;
}
/*点击单选按钮显示的不同类型内容*/
main>.type{
	background-color: #ececec;
	padding: 20px 58px 10px;
}
main>.type input[type=text]{
	height: 34px;
	width: 280px;
	border-radius: 4px;
	border: 1px solid #ccc;
	outline: none;
	text-indent: 4px;
	margin: 20px 20px 0;
}
main>.type span{
	font-size: 14px;
	display: inline-block;
	width: 80px;
	text-align: right;
}
.textmore{
		vertical-align: middle;
		height: 72px;
    width: 180px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    text-indent: 4px;
    margin: 20px 20px 0;
}
main>.type>.service{
	margin-top: 40px;
	font-weight: bold;
	margin-right: 16px;
	float: left;
	display: block;
}
main>.type label{
	font-size: 14px;
	width: 140px;
	display: inline-block;
	margin-bottom: 20px;
}
main>.type label>input{
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -2px;
}
main>.media>div>h3 {
    padding: 34px 0;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
}
main>.media>div>h3>span {
    color: #FF5C00;
    padding-left: 6px;
    vertical-align: middle;
}
main>.media>.image-box{
    background-color: #ececec;
    padding: 20px 108px 10px;
    position: relative;

}
/*main>.media>.image-box>div{
	padding: 10px 0 10px 53px;
}*/
main>.media>.image-box .add{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #555;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	color: #555;
	display: inline-block;
	vertical-align: middle;
	/*position: absolute;*/
	/*top: 30px;*/
	/*left: 500px;*/
	cursor: pointer;
	margin-left: 20px;
}
main>.media>.small-img{
    padding: 20px 88px 25px;
    border-bottom: 1px dashed #DCDCDC;
}
main>.media>.title{
    padding: 10px 77px 0px;
}
main>.media>.title>h3{
    padding: 20px 0;
}
main>.media>div.title>label{
    margin-right: 50px;
    font-size: 14px;
}
main>.media>div.title>label>input{
    margin-right: 10px;
    vertical-align: middle;
}
main>.media>.video-box{
    background-color: #ececec;
    padding: 60px 110px 60px;
    display: none;
}
main>.submit{
	border: 1px solid #FF5C00;
	outline: none;
	height: 34px;
	width: 130px;
	background: #fff;
	color: #FF5C00;
	border-radius: 4px;
	margin-right: 65px;
	margin-top: 50px;
	float: right;
	cursor: pointer;
}



.slt-wrap{
	width: 200px;
	height: 190px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid rgba(0,0,0,.1);
	position: relative;
}
.slt-wrap-top{
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: #D9D9D9;
	height: 160px;
	margin-bottom: 5px;
	overflow: hidden;
}
.slt-wrap-top img{
	width: 200px;
}
.thumbb{
	margin-left: 10px;
}
.slt-wrap span{
	position: absolute;
	left: 12px;
	bottom: -21px;
}
.qjt-image{
	min-height: 280px;
	border-bottom: 1px dashed #ccc;
	position: relative;
	padding-left: 43px;
	padding-bottom: 46px;
}
.qjt-wrap{
	padding: 0;
	width: 200px;
	height: 190px;
	display: inline-block;
	vertical-align: middle;
	/*vertical-align: middle;*/
	border: 1px solid rgba(0,0,0,.1);
	position: relative;
	background: #fff;
	margin: 10px 10px;
}
.qjt-wrap span{
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 24px;
	background: #000;
	line-height: 24px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.qjt-image>span{
	color: #ccc;
	position: absolute;
	left: 52px;
	bottom: 20px;
}
.add-then{
	display: none;
	width:100%; 
	height:100%; 
	background-color:#000; 
	filter:alpha(opacity=40); 
	-moz-opacity:0.4; 
	opacity:0.4; 
	position:fixed; 
	left:0px; 
	top:0px; 
	/*display:none;*/ 
	z-index:999;
}
.add-then span{
	display: block;
	/*width: 450px;*/
	text-align: center;
	height: 50px;
	font-size: 30px;
	color: #fff;
	margin: 10px auto;
}


@-webkit-keyframes clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes counter-clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-moz-keyframes counter-clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  height: 150px;
  width: 200px;
  margin-top: -75px;
  background: #000;
}

.gearbox {
  background: yellow;
  height: 150px;
  width: 200px;
  position: relative;
  border: none;
  overflow: hidden;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}
.gearbox .overlay {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -moz-box-shadow: inset 0px 0px 20px black;
  -webkit-box-shadow: inset 0px 0px 20px black;
  box-shadow: inset 0px 0px 20px black;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.gearbox.turn .overlay {
  background: transparent;
}

.gear {
  position: absolute;
  height: 60px;
  width: 60px;
  -moz-box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
  -webkit-box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
  box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.gear.large {
  height: 120px;
  width: 120px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}
.gear.large:after {
  height: 96px;
  width: 96px;
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  margin-left: -48px;
  margin-top: -48px;
}
.gear.one {
  top: 12px;
  left: 10px;
}
.gear.two {
  top: 61px;
  left: 60px;
}
.gear.three {
  top: 110px;
  left: 10px;
}
.gear.four {
  top: 13px;
  left: 128px;
}
.gear:after {
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  background: #111;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  z-index: 3;
  -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #090909, inset 0px -1px 0px 0px #888888;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #090909, inset 0px -1px 0px 0px #888888;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #090909, inset 0px -1px 0px 0px #888888;
}

.gear-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #555;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.large .gear-inner {
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}
.gear.one .gear-inner {
  -webkit-animation: counter-clockwise 3s infinite linear;
  -moz-animation: counter-clockwise 3s infinite linear;
}
.gear.two .gear-inner {
  -webkit-animation: clockwise 3s infinite linear;
  -moz-animation: clockwise 3s infinite linear;
}
.gear.three .gear-inner {
  -webkit-animation: counter-clockwise 3s infinite linear;
  -moz-animation: counter-clockwise 3s infinite linear;
}
.gear.four .gear-inner {
  -webkit-animation: counter-clockwise 6s infinite linear;
  -moz-animation: counter-clockwise 6s infinite linear;
}
.gear-inner .bar {
  background: #555;
  height: 16px;
  width: 76px;
  position: absolute;
  left: 50%;
  margin-left: -38px;
  top: 50%;
  margin-top: -8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.large .gear-inner .bar {
  margin-left: -68px;
  width: 136px;
}
.gear-inner .bar:nth-child(2) {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.gear-inner .bar:nth-child(3) {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.gear-inner .bar:nth-child(4) {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gear-inner .bar:nth-child(5) {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.gear-inner .bar:nth-child(6) {
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}













